
:root {
 --primary-color: #396E94;
 --secondary-color:#E7C24F;
 --accent1-color: #c9bfc4;
 --accent2-color: #a43312;

 --nav-background-color: #AABD8C;
  --nav-link-color: #396E94;
  --nav-hover-link-color: #37698d; 
 --nav-hover-background-color: #ffd000;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
h1 {
    font-weight: 100; 
}
*{
 margin-left:5px ;
 padding: 0 ;
 box-sizing: border-box;
}
main{
    max-width: 100%;
}
header { 
    background-color: #3a3b3b; 
}
header h1 {
    color: white;
    justify-content: center;
    margin: 20px;
    display: flex;
    
 }
 nav {
    background-color: #36454f;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
nav a:hover {
    text-decoration:underline;
    color: yellow;
}
nav a {
    display: block;
    color: #ffff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
 } 

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: white;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.card h2{
    background-color: #36454f;
    color:white ;
    display: flex;
    justify-content: center;
    padding: 20px; 
  } 
.one img{
    float: right;
    margin: 10px;
      }
      h4 {
        display: flex;
        justify-content: center;
        border-bottom:  solid 1px #36454f;
        margin-top: 90px;
      }
.card img {
    border-radius: 10px;
}

.cameroon-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
}

.cameroon-info figure {
    margin: 0px;
}

.cameroon-info figure img {
    width: 100%;
    border-radius: 10px;
}
.cameroon-info figcaption {
    text-align: center;
    font-style: italic;
    color: #666;
    margin-top: 5px;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }

#lastModified {
    font-style: italic;
}

